.App {
  padding-left: 250px;
  padding-right: 250px;
}

nav {
  width: 100%;
  background-color: #f55a5a;
  overflow: auto;
  /* height: 70px; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 8, 0, 0.1);
  /* display: block; */
}

nav a {
  display: block;
  float: none;
  /* padding: 12px; */
  color: white;
  text-decoration: none;
  margin: 0;

}

nav a:hover {
  background-color: #ff4343;
}

.active {
  background-color: #04AA6D;
}

nav ul {
  margin: 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;

}

.nav--logo {
  height: 5vmin;
  width: auto;
  pointer-events: none;
  vertical-align: middle;
  margin-left: -10px;

}

@media (prefers-reduced-motion: no-preference) {
  .nav--logo {
    animation: nav--logo-spin infinite 20s linear;
  }
}

@keyframes nav--logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 450px;
  margin: auto;
  /* text-align: center; */
  padding: 20px 50px 20px 50px;
  /* background-color: cadetblue; */
  font-family: 'Poppins', sans-serif;
  color: #2b283a;
  background-color: white;
}

.card--image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding:5px;
}

.card--info--section{
  padding: 20px;
}

.card--location{
  text-transform: uppercase;
}

.card--location-icon{
  color: #f55a5a;
  vertical-align: bottom;
  padding-bottom: 3px;
  font-size: 20px !important;

}
.card--google-maps--link{
  color: #918e9b;
}

.card--date{
  font-weight: 600;
  /* padding: 50px; */
}

.card--title{
  /* padding: 0; */
  margin-top: 0;
}

.card--description{
  margin-bottom: 0;
}

.row {
  display: flex;
}

.column-1 {
  flex: 30%;
  padding: 5px;
  /* background-color: blue; */
}

.column-2 {
  flex: 70%;
  padding: 5px;
  /* background-color: burlywood; */
}

@media screen and (max-width: 1000px) {
  .App {
    padding: 0px 50px 0px 50px;
  }

  @media screen and (max-width: 600px) {
    nav a {
      float: none;
      display: block;
    }

    .App {
      padding: 0px;
    }

    .card {
      padding: 10px 0px 10px 0px;
    }

    .card--info--section{
      padding: 5px;
    }
  }
}

br{
  background-color: white;
}