nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: red;
}

.nav--logo{
  /* height: 40vmin; */
  pointer-events: none;
}

.nav--text{
  padding-bottom: 20px;
}

.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .nav--logo {
    animation: nav--logo-spin infinite 20s linear;
  }
}


@keyframes nav--logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
